#container {
    position: fixed;

}
.portals {
    height: 200px;
    margin: 30px;
}
body {
    background-image: url("assets/paris.jpeg");
    background-size: cover;
    
  }
 #header {
  color: white;
 }